[submodule "bash.d/gitstatus"]
	path = bash.d/gitstatus
	url = https://github.com/romkatv/gitstatus
[submodule "zsh.d/oh-my-zsh-custom/themes/powerlevel10k"]
	path = zsh.d/oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh.d/oh-my-zsh-custom/plugins/zsh-histdb"]
	path = zsh.d/oh-my-zsh-custom/plugins/zsh-histdb
	url = https://github.com/larkery/zsh-histdb
[submodule "zsh.d/oh-my-zsh"]
	path = zsh.d/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "/Users/bojan/dotfiles/zsh.d/oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = /Users/bojan/dotfiles/zsh.d/oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
