[user]
	name = baxievski
	email = bojan.axievski@gmail.com

[core]
    editor = nvim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    ignorecase = false
    quotepath = false
    pager = delta
	excludesfile = /Users/bojan/.gitignore_global

[status]
    short = true
    branch = true

[push]
    default = simple

[stash]
    showPatch = true

[color]
    ui = auto

[log]
    decorate = auto
    date = format:%Y-%m-%d %H:%M

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = yellow bold
    changed = green bold
    untracked = cyan bold

[color "branch"]
    current = yellow bold
    local = yellow
    remote = green

[grep]
    break = true
    heading = true
    lineNumber = true

[alias]
    ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"
    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(auto)%h%C(reset) %C(blue)%ae%C(reset) %C(green)(%ar)%C(reset) %C(auto)%s%C(reset) %C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%w(,0,8)%C(auto)%h%C(reset) %C(blue)%ae%C(reset) %C(green)%ad (%ar)%C(reset)%C(auto)%d%C(reset)%n%C(auto)%s%C(reset)'

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[format]
  ; pretty = format:%Cred%h%Creset %C(yellow)(%ci) %C(bold blue)<%an>%Creset -%C(yellow)%d%Creset %s%Creset

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[delta]
    features = side-by-side line-numbers decorations
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended Light

[interactive]
    diffFilter = delta --color-only
[commit]
	template = /Users/bojan/.stCommitMsg
